html,
body {
    background: #000 url('../images/skate.jpg') no-repeat center center fixed;
    color: #fff;
    font: 16px arial, helvetica, sans serif;
    margin: 0em;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(90deg, #21232b 1%, #000000 100%) no-repeat fixed;
    background-image:-moz-radial-gradient(center center, ellipse cover, #21232b, #000000);
    background-image: -webkit-radial-gradient(center center, ellipse cover, #21232b, #000000 );
    background-repeat:no-repeat;
    background-position: fixed;
}

h1 {
    color: #ffc000;
    margin: 10px 0 10px 20px;
    padding: 0;
    font-size: 3em
}

h3 {
   color: #fff;
    margin: 20px 0;
    padding: 0;
}

/******************************************************************************
 * nav ********************************************************************
 ******************************************************************************/

nav ul {
   /* background-color: #0277BD;*/
    background-color: rgba(2, 119, 189,0.5);
    border-bottom: 1px solid rgba(49,144,201,.25);
    border-top: 1px solid rgb(1,87,155);
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
}

nav ul li {
    /*border-right: 1px solid #01579B;*/
    display: inline-block;
    margin: 0;
    position: relative;
}

nav a {
    color: #fff;
    display: block;
    padding: 15px 30px;
    position: relative;
    text-decoration: none;
}

nav a:hover {
    /*background-color: #ffc000;*/
    /*color: #01579B;*/
    background-color: rgba(1,87,155,.7);
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}

nav a:active {
    color: #fff;
    position: relative;
}

nav a.active {
    background-color: #fff;
    color: #01579B
}

header {
    border-bottom: 1px solid #fff;
    color: #ffc000;
    margin: 0;
    padding: 0 0 20px;
    background: #fff url('http://toddaustin.com/moosic/images/studio.jpg') no-repeat 15% top fixed;
}

h1 {
    margin: 10px 0 10px 20px;
    padding: 0;
    font-size: 3em
}


.profile {
    width: 20%;
    min-width:200px;
    margin:10% auto 0;
    border-radius: 5px;
    padding: 0 3%;
    background: url('../images/bg.png');
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.3);
    border: 1px solid #fff;
}

.profile header {
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    color: #01579B;
    text-shadow: 1px 1px #fff;
    background: none;
}

.profile header img {
    height: 8em;
    width: 8em;
    border-radius: 80px;
    border: 1px solid #fff;
    margin-top:-65px;
    background: url('../images/bg.png');

}

.profile h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 1.4em;
    margin: 0;
}

section {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dbdbdb;
}

p {
    line-height: 1.4;
    color: #01579B;
}

footer {
    width:100%;
    border-top: 1px solid #ffffff;
    text-align: center;
}

.profile a {
    display: inline-block;
    color: #01579B;
    margin: 0 10px;
    text-shadow: 2px 2px #fff;
    transition: transform .8s ease-in-out;
}

footer a:hover {
    transform: rotate(360deg);
    background:none;
}

footer a {
    padding:0;
}
